{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<br><br>

<h1>Bienvenue sur le Blog!</h1>

<br>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, earum. Voluptatem molestias dignissimos id earum corporis! Non et alias reprehenderit labore eius, dicta est voluptatem id magni! Ratione beatae sint, facilis quo doloremque fuga quia ipsa officia ipsam sunt repudiandae error mollitia aperiam labore odio blanditiis cum ad praesentium? Ut ducimus magnam, amet dolores, facere quae voluptatibus facilis distinctio sequi accusamus vero aliquid corrupti debitis unde voluptas repellat tempore molestias minus, quos perferendis necessitatibus esse voluptatem. Quibusdam sapiente a consequatur rerum accusamus eum exercitationem fugiat explicabo alias cumque facilis, ad nemo voluptatem tempore reprehenderit aut beatae voluptatum saepe quis at quidem temporibus nulla harum eaque. Dicta earum praesentium blanditiis hic nostrum similique cum tenetur omnis debitis voluptatum? Possimus asperiores voluptatibus delectus est vero debitis, voluptas, molestias maiores rerum eligendi architecto eos voluptatem molestiae dicta saepe soluta necessitatibus impedit deserunt aliquam nobis? Soluta consequatur harum expedita ratione ipsum aperiam, omnis accusamus debitis voluptates exercitationem autem? Cupiditate illum facilis recusandae odio maiores repellendus animi, voluptatem autem obcaecati rerum aliquid nostrum corrupti officia totam omnis id dolore eveniet modi dolor aspernatur tenetur quam. Delectus deserunt perspiciatis sint, neque eligendi asperiores cum modi est totam nisi aspernatur aliquam qui doloremque quisquam eum nemo voluptatum officia consectetur cumque repellendus facere iste aperiam veritatis accusamus. Illum sit dolor quaerat aliquid vitae? Molestias labore deserunt eum dignissimos assumenda velit alias explicabo quasi maiores cum, quis reprehenderit nulla suscipit delectus fugit eveniet. Nihil hic molestias eligendi iusto non ipsum velit ullam. Dicta ullam et eos ducimus, totam nemo iure voluptatum tempora autem reprehenderit labore eaque nihil rerum veniam laudantium vitae architecto! Quos ducimus nesciunt alias, odit optio eveniet velit labore. Natus, impedit. Necessitatibus, ullam labore fuga saepe doloribus at consequuntur adipisci vitae deserunt hic rem voluptatem minima earum excepturi velit. Itaque eligendi doloribus rem placeat ipsa sit et culpa, accusamus nemo perferendis, eaque illo illum vitae officia vero esse? Deserunt ducimus, dignissimos ex cupiditate temporibus harum non quaerat blanditiis numquam quas repellendus quae autem iure repellat accusamus animi vero iusto deleniti porro ut laudantium? Nobis sed iste nihil eius necessitatibus quam praesentium harum eaque ratione deleniti consectetur maiores voluptatibus doloremque minus iure, expedita tempore earum! Recusandae sit tempora quod sint excepturi sequi? Enim, ad aliquam modi tempore soluta dolor. Et repellendus necessitatibus sit. Sequi consequatur, rem voluptatem a doloribus delectus at excepturi ipsam sint! Minima quos dolore, perferendis quasi omnis numquam. Unde ipsa corrupti ex velit tenetur eligendi fuga ipsam doloremque at tempora est, perferendis vel id itaque. Debitis modi a natus excepturi facere, sint quidem ipsam, culpa rem adipisci dolores vero obcaecati porro quibusdam temporibus repudiandae fugiat accusamus atque alias libero quae veniam? Placeat dolorum dolor provident tempora mollitia qui aliquam, fugit repudiandae soluta? Dignissimos maiores nobis reprehenderit excepturi optio atque, natus quos voluptatibus illo ad neque quod, perspiciatis illum. Soluta dolor accusantium, alias quos facere officiis molestias. Cupiditate ipsum eius nemo neque totam cumque commodi? Quasi non deleniti mollitia? Autem atque libero distinctio. Modi doloremque eveniet odit dignissimos quidem sequi tempore laborum blanditiis, nihil maiores aut!</p>


<br><br>



{% endblock %}